@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap");
@import url("./sass/_bootstrap.scss");
@import "./sass/_colors.scss";
@import "./sass/header.scss";
@import "./sass/Navbar.scss";
@import "./sass/About-Section.scss";
@import "./sass/Trusted.scss";
@import "./sass/HorizontalScroll.scss";
@import "./sass/BnbCard.scss";
@import "./sass/catalog.scss";
@import "./sass/Home.scss";
@import "./sass/featured.scss";
@import "./sass/components/FancyHeader.scss";
@import "./sass/antd";

#root {
	overflow-x: hidden;
	font-family: "Ubuntu", "sans-serif";
}

.footer-wrapper {
	border-radius: 85px 0px 0px 0px;
	background: linear-gradient(
		180deg,
		rgba(14, 28, 38, 1) 0%,
		rgba(53, 54, 37, 1) 100%
	);
	img {
		width: 20%;
	}
}
.bg-lightColor {
	background-color: $lightColor;
}
.bg-primaryColorLight {
	background-color: $primaryColorLight;
}
.bg-black {
	background-color: #222;
}
