@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap");
@import url("./sass/_bootstrap.scss");
@import "./sass/_colors.scss";
@import "./sass/header.scss";
@import "./sass/Navbar.scss";
@import "./sass/antd";

#root {
	overflow-x: hidden;
}
.brandSection {
	div {
		img {
			aspect-ratio: 2;
			object-fit: contain;
			cursor: pointer;
		}
	}
}

.footer-wrapper {
	border-radius: 85px 0px 0px 0px;
	background: linear-gradient(
		180deg,
		rgba(14, 28, 38, 1) 0%,
		rgba(53, 54, 37, 1) 100%
	);
	img {
		width: 20%;
	}
}
.bg-lightColor {
	background-color: $lightColor;
}
.bg-primaryColorLight {
	background-color: $primaryColorLight;
}
