@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap");
@import url("./sass/_bootstrap.scss");
@import "./sass/_colors.scss";
@import "./sass/components/header.scss";
@import "./sass/components/Navbar.scss";
@import "./sass/About-Section.scss";
@import "./sass/Trusted.scss";
@import "./sass/components/HorizontalScroll.scss";
@import "./sass/components/BnbCard.scss";
@import "./sass/catalog.scss";
@import "./sass/pages/Home.scss";
@import "./sass/pages/Search.scss";
@import "./sass/pages/Cart.scss";
@import "./sass/pages/Favorite.scss";
@import "./sass/featured.scss";
@import "./sass/components/FancyHeader.scss";
@import "./sass/antd";
@import "./sass/pages/product-detail.scss";
@import "./sass/pages/product-catalog.scss";
@import "./sass/components/CheckBox.scss";
@import "./sass/components/Footer.scss";

#root {
	font-family: "Ubuntu", "sans-serif";
}
.bg-lightColor {
	background-color: $lightColor;
}
.bg-primaryColorLight {
	background-color: $primaryColorLight;
}
.bg-black {
	background-color: #222;
}

.no-scroll {
	overflow: hidden;
}
