$transition-2: 1.2s cubic-bezier(0.25, 1, 0.3, 1);
.header {
	position: relative;
	width: 100%;
	img {
		height: 75dvh;
		width: 100%;
		object-fit: cover;
		object-position: 50%;
	}
	.content {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		background-color: rgba(0, 0, 0, 0.35);
		display: grid;
		place-items: center;
		.wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 10px;
			height: inherit;
			width: 100%;
			max-width: 70%;
			h1 {
				color: #fff;
				font-family: "Ubuntu", sans-serif;
				font-weight: 800;
				text-transform: uppercase;
				font-size: 80px;
				letter-spacing: 10px;
				@media screen and (max-width: 768px) {
					font-size: 60px;
				}
				@media screen and (max-width: 425px) {
					font-size: 40px;
				}
			}
			h2 {
				color: #fff;
				font-family: "Ubuntu", sans-serif;
				font-size: 40px;
				letter-spacing: 6.3px;
				text-transform: uppercase;
				text-align: center;
				@media screen and (max-width: 768px) {
					font-size: 20px;
				}
				@media screen and (max-width: 768px) {
					font-size: 14px;
				}
			}
			button {
				padding: 15px 40px;
				text-transform: uppercase;
				background-color: #222;
				color: #fff;
				font-size: 0.9rem;
				letter-spacing: 3px;
				font-weight: 500;
				border: none;
				outline: none;
				border-radius: 7px;
				transition: all $transition-2;
				box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
				&:hover {
					background-color: #fff;
					color: #222;
				}
				&:active {
					transform: translate(0.13rem, 0.13rem);
				}
				@media screen and (max-width: 425px) {
					font-size: 0.8rem;
					padding: 10px 30px;
				}
			}
		}
	}
}
