$transition: 0.2s ease-in;
$transition-2: 1.2s cubic-bezier(0.25, 1, 0.3, 1);
.divider {
	background-color: #dddddd;
	flex: 0 0 1px;
	height: 24px;
	width: 1px;
}
header {
	display: grid;
	place-items: center;
	box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
	height: 80px;
	background-color: #fff;
	.nav {
		max-width: 1760px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			img {
				width: 50px;
				rotate: 0deg;
				animation: rotate 60s cubic-bezier(0.25, 1, 0.3, 1) infinite;
				&:hover {
					rotate: 360deg;
				}
				@keyframes rotate {
					from {
						rotate: 0deg;
					}
					to {
						rotate: 360deg;
					}
				}
			}
		}
		.nav-links {
			display: flex;
			margin-left: 100px;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 40px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
			transition: box-shadow $transition;
			overflow: hidden;
			&:hover {
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
			}
			@media screen and (width <= 1024px) {
				margin-left: 0px;
			}
			.link {
				&:hover {
					background-color: rgba(0, 0, 0, 0.1);
				}
			}
			.icon {
				height: 48px;
				width: 48px;
				background-color: transparent;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				transition: background-color $transition;
				&:hover {
					background-color: rgba(0, 0, 0, 0.1);
				}
				div {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 30px;
					width: 30px;
					background-color: #222;
					border-radius: 50%;
				}
				.search {
					color: #fff;
					font-size: 18px;
				}
			}
		}
		.notFrontend {
			cursor: pointer;
			.auth {
				display: flex;
				align-items: center;
				gap: 10px;
				padding: 0px 10px;
				background-color: #fff;
				border: 1px solid #ddd;
				border-radius: 40px;
				box-shadow: 0 1px 0px rgba(0, 0, 0, 0.08), 0 0px 0px rgba(0, 0, 0, 0.05);
				transition: box-shadow $transition;
				overflow: hidden;
				&:hover {
					box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
				}
				.icon {
					font-size: 25px;
				}
			}
		}
		.hamburger {
			font-size: 36px;
		}
	}
}
.link {
	text-align: center;
	line-height: 48px;
	text-decoration: none;
	color: #111;
	font-weight: 400;
	padding: 0px 20px;
	background-color: transparent;
	transition: background-color $transition;
}
.link.active {
	font-weight: 700;
	@media screen and (max-width: 768px) {
		background-color: rgba(0, 0, 0, 0.1);
	}
}
