.dropdown-custom-width {
	.ant-dropdown-menu {
		width: 250px;
	}
}

.ant-collapse {
	background-color: transparent !important;
	border: none !important;
	.ant-collapse-item {
		border-radius: 0px !important;
		.ant-collapse-header {
			flex-direction: row-reverse !important;
			align-items: center !important;
			padding-inline-start: 0px;
			padding: 12px 0px;
		}
		.anticon-right {
			rotate: 90deg !important;
			font-size: 16px !important;
		}
		.ant-collapse-header-text {
			font-weight: 500;
			font-size: 16px;
		}
		.ant-collapse-content {
			border: 0px !important;
		}
	}
}
.ant-collapse-item.ant-collapse-item-active .anticon-right {
	rotate: 180deg !important;
}

.ant-checkbox-wrapper {
	font-size: 16px;
	.ant-checkbox-inner {
		border-color: #111 !important;
	}
	&:hover {
		.ant-checkbox-inner {
			border-color: #1111116c !important;
		}
	}
}
.ant-checkbox-wrapper.ant-checkbox-wrapper-checked {
	.ant-checkbox-inner {
		background-color: #111 !important;
	}
}
.ant-checkbox-group {
	flex-direction: column !important;
	gap: 5px;
}

.ant-breadcrumb-link {
	a {
		text-decoration: none;
	}
}

.ant-drawer-content-wrapper {
	.ant-drawer-header-title {
		flex-direction: row-reverse !important;
	}
}

.ant-radio-wrapper {
	.ant-radio-checked {
		.ant-radio-inner {
			border-color: #111 !important;
			background-color: #111 !important;
		}
	}
}

.ant-skeleton.ant-skeleton-element {
	width: 100% !important;
}

.anticon-close-circle {
	width: 15px;
	svg {
		height: 100%;
		width: 100%;
	}
}

.ant-result {
	.anticon-close-circle {
		width: auto;
	}
}

.ant-drawer-right {
	.ant-drawer-header {
		border-bottom: none !important;
	}
}

.ant-form-item {
	margin-bottom: 12px;
}
