.ant-dropdown-menu {
	width: 200px;
	li {
		span {
			a {
				text-decoration: none;
			}
		}
	}
}

.ant-collapse {
	background-color: transparent !important;
	border: none !important;
	.ant-collapse-item {
		border-radius: 0px !important;
		.ant-collapse-header {
			flex-direction: row-reverse !important;
			align-items: center !important;
			padding-inline-start: 0px;
			padding: 12px 0px;
		}
		.anticon-right {
			rotate: 90deg !important;
			font-size: 16px !important;
		}
		.ant-collapse-header-text {
			font-weight: 500;
			font-size: 16px;
		}
		.ant-collapse-content {
			border: 0px !important;
		}
	}
}
.ant-collapse-item.ant-collapse-item-active .anticon-right {
	rotate: 180deg !important;
}

.ant-checkbox-wrapper {
	font-size: 16px;
	.ant-checkbox-inner {
		border-color: #111 !important;
	}
	&:hover {
		.ant-checkbox-inner {
			border-color: #1111116c !important;
		}
	}
}
.ant-checkbox-wrapper.ant-checkbox-wrapper-checked {
	.ant-checkbox-inner {
		background-color: #111 !important;
	}
}

.ant-breadcrumb-link {
	a {
		text-decoration: none;
	}
}
