@import "./transitions";
.catalog {
	.myCard {
		cursor: pointer;
		position: relative;
		overflow: hidden;
		border-radius: 7px;
		padding: 0;
		transition: all $transition-2;
		box-shadow: #0000002e 0px 4px 12px;
		@media screen and (width <768px) {
			max-height: 200px;
		}
		@media screen and (width >=768px) {
			min-height: 270px;
			max-height: 300px;
			height: 100%;
		}
		img {
			height: 100%;
			width: 100%;
		}
		h1 {
			position: absolute;
			bottom: 5%;
			left: 7%;
			color: #fff;
		}
		.arrow {
			position: absolute;
			top: 6%;
			right: 5%;
			rotate: 45deg;
			scale: 1.8;
			opacity: 0;
			transition: all $transition-2;
		}
		&:hover {
			box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
			.arrow {
				opacity: 1;
			}
		}
		&:active {
			box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 12px;
			translate: 0.123rem 0.123rem;
		}
	}
}
