@import "./transitions";
.horizontal-scroll {
	.controller {
		position: absolute;
		right: 15px;
		top: -45px;
		@media screen and (width<=768px) {
			display: none;
		}
		.icon {
			font-size: 2.5rem;
			transition: all 0.5s $cubic-transition;
			cursor: pointer;
			&:hover {
				background: #000;
				color: #fff;
			}
		}
	}
	.cards-container {
		display: flex;
		gap: 25px;
		overflow-x: auto;
		scroll-behavior: smooth;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
