.product-details-container {
	align-items: start;
	.carousel {
		position: sticky;
		top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		max-height: 80%;
		.card-controller {
			z-index: 1;
			display: flex;
			position: absolute;
			bottom: 5%;
			right: 20%;
			align-items: center;
			justify-content: space-between;
			.icon {
				height: 35px;
				width: 35px;
				border-radius: 50%;
				background-color: #222;
				color: #fff;
				margin: 0px 10px;
				opacity: 0;
				transition: all $transition-2;
				cursor: pointer;
			}
		}
		.ant-carousel {
			width: 70%;
			border-radius: 10px;
			overflow: hidden;
			max-height: 80dvh;
			div:not([class]) {
				display: flex;
				justify-content: center;
				.img-container {
					.ant-image {
						display: block;
					}
					.image {
						object-fit: contain;
					}
				}
			}
		}
		&:hover {
			.icon {
				opacity: 1 !important;
			}
		}
	}

	.content {
		.size {
			border: 2px solid #11111141;
			border-radius: 7px;
			display: grid;
			place-items: center;
			&:hover {
				border: 2px solid #111;
			}
			p {
				font-size: 18px;
				margin: 0 !important;
			}
		}
		.size.active {
			border: 2px solid #111;
		}
		.ant-collapse-header-text {
			font-size: 22px;
			font-weight: 500;
		}
		.anticon-right {
			font-size: 20px !important;
		}
	}
}

.review {
	.title {
		font-weight: 700;
		font-size: 17px;
	}
	.user {
		font-weight: 700;
		color: rgba(0, 0, 0, 0.4);
		font-size: 16px;
	}
	.description {
		font-size: 16px;
		color: #000;
	}
	.ant-btn {
		border-bottom: 1px solid #111;
		border-radius: 0 !important;
		&:hover {
			background-color: transparent !important;
			color: rgba(0, 0, 0, 0.6) !important;
			border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		}
	}
}

.btn-filled {
	height: auto;
	background-color: #111 !important;
	color: #fff !important;
	font-size: 18px;
	&:hover {
		background-color: #111111da !important;
	}
}
.btn-outline {
	height: auto;
	background-color: transparent;
	border: 2px solid #11111141;
	border-radius: 15px;
	font-size: 18px;
	&:hover {
		background-color: transparent !important;
		border: 2px solid #111;
	}
	.anticon {
		vertical-align: 0 !important;
	}
}
.ant-form-item-label label {
	font-size: 16px !important;
	font-weight: 500;
}
